.fs-account-password {
    
    .uk-form-controls {
        
        position: relative;
        
        > :not(.uk-form-icon) { 
            position: relative;
            z-index: 1;
        }
        
        .fs-showpass {
            
            cursor: pointer;
            border: none;
            box-sizing: border-box;
            
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            width: 20px;
            padding: 0 15px;
            z-index: 10;
            
            opacity: .5;
            background: url('data:image/svg+xml;charset=utf8,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%20viewBox%3D%220%200%20488.85%20488.85%22%20style%3D%22enable-background%3Anew%200%200%20488.85%20488.85%3B%22%20xml%3Aspace%3D%22preserve%22%3E%0A%09%3Cpath%20fill%3D%22#{rgba($global-emphasis-color,.99)}%22%20d%3D%22M244.425%2C98.725c-93.4%2C0-178.1%2C51.1-240.6%2C134.1c-5.1%2C6.8-5.1%2C16.3%2C0%2C23.1c62.5%2C83.1%2C147.2%2C134.2%2C240.6%2C134.2%20%20%20s178.1-51.1%2C240.6-134.1c5.1-6.8%2C5.1-16.3%2C0-23.1C422.525%2C149.825%2C337.825%2C98.725%2C244.425%2C98.725z%20M251.125%2C347.025%20%20%20c-62%2C3.9-113.2-47.2-109.3-109.3c3.2-51.2%2C44.7-92.7%2C95.9-95.9c62-3.9%2C113.2%2C47.2%2C109.3%2C109.3%20%20%20C343.725%2C302.225%2C302.225%2C343.725%2C251.125%2C347.025z%20M248.025%2C299.625c-33.4%2C2.1-61-25.4-58.8-58.8c1.7-27.6%2C24.1-49.9%2C51.7-51.7%20%20%20c33.4-2.1%2C61%2C25.4%2C58.8%2C58.8C297.925%2C275.625%2C275.525%2C297.925%2C248.025%2C299.625z%22%3E%3C/path%3E%0A%3C/svg%3E') center / 15px auto no-repeat;
        }
        
        [type="text"] + .fs-showpass {
            
            background-color: rgba($global-primary-background, .5);
            opacity: 1;
        }
    }
}